netty:
  clients:
   - port: 8107

spring:
  application:
    name: demo-netty-proxy
    #如果只是
#  profiles:
#    active: netty,aop

  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/netty_proxy?serverTimezone=Asia/Shanghai&useSSL=false&useUnicode=true&characterEncoding=utf8
    username: root
    password: root
    hikari:
      #是否自动提交事务 默认true
      auto-commit: true
      #连接池名称，主要用于日志记录与JMX管理控制台中识别池，默认：HikariPool-1
      pool-name: hikari-pool-proxy
      #从链接池中拿连接时，等待的时间。如果超时，抛SQLException.默认30000，最小值250ms;支持JMX动态修改；如果小于250ms，则被重置回30s
      connection-timeout: 30000
      idle-timeout: 10000
      minimum-idle: 10
      maximum-pool-size: 10
      connection-test-query: SELECT 1

  kafka:
    bootstrap-servers: 121.89.246.180:9092
    #这个参数是自己定义的，不是kafka自带的
    topics: test-netty
    producer:
      #重试次数，设置大于0的值，则客户端会将发送失败的记录重新发送，默认Integer.MAX_VALUE
      retries: 1
      # 同一批次内存大小（默认16K）
      batch-size: 16384
      # 生产者内存缓存区大小(32M)
      buffer-memory: 33554432
      # key和value的序列化（默认，可以不设置）
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      # ack应答机制，默认1，即只需要确认leader收到消息
      acks: all
    consumer:
      group-id: default-group
      enable-auto-commit: false
      auto-offset-reset: earliest
      key-deserializer:
        org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer:
        org.apache.kafka.common.serialization.StringDeserializer
      max-poll-records: 500
    listener:
      # RECORD 当每⼀条记录被消费者监听器（ListenerConsumer）处理之后提交
      # BATCH 当每⼀批poll()的数据被消费者监听器（ListenerConsumer）处理之后提交
      # TIME 当每⼀批poll()的数据被消费者监听器（ListenerConsumer）处理之后，距离上次提交时间⼤于TIME时提交
      # COUNT 当每⼀批poll()的数据被消费者监听器（ListenerConsumer）处理之后，被处理record数量⼤于等于COUNT时提交
      # COUNT_TIME TIME | COUNT　有⼀个条件满⾜时提交
      # MANUAL当每⼀批poll()的数据被消费者监听器（ListenerConsumer）处理之后, ⼿动调⽤Acknowledgment.acknowledge()后提交
      # MANUAL_IMMEDIATE⼿动调⽤Acknowledgment.acknowledge()后⽴即提交，⼀般使⽤这种
      ack-mode: MANUAL_IMMEDIATE
      type: batch

mybatis-plus:
  mapper-locations: classpath*:mapper/*.xml
  configuration:
    default-statement-timeout: 120
  type-aliases-package: com.demo.netty.proxy.model

